body {
    background-image: url("images/earth.png"), url("images/moon.png"), url("images/rocket.png"), url("images/space2.png");
    background-size: 25%, 10%, 5%, cover;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat-x; 
    height: 100vh;
    animation-name: space;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes space {
    from {
    background-position: center center, 70% 85%, 30% 20%, 0% 0%; 
    }
    to {
    background-position: center center, 70% 85%, 30% 20%, -1024px 0%;    
    }
}