/* CSS Document */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: 'Lato', Arial, sans-serif;
    background-image: url("Image/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #022843;
}
p {
    text-align: justify;
}
p::first-letter{
    width: 2em;
    color: rgba(65,106,163,1.00);
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    font-family: fascinate-inline;
}
#wrapper {
    width: 980px;
    margin: auto;
    overflow: hidden;
    background-color: #D2E4E7;
}
header, footer {
    background-color: #022843;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    
}
#imgcenter{
    width: 100%;
}
.photo {
    display: block;
    width: 100%;
    padding: 10px;
}
h2{
    text-align: center;
    padding: 20px;
}
main {
    width: 55%;
    float: left;
    padding: 20px;
}
aside{
    width: 45%;
    float: right;
    padding: 20px;
}
footer{
    clear: both;
}
footer a {
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
    margin: 30px;
}
.oldphoto {
    width: 40%;
    float: left;
    margin: 10px 20px 10px 10px;
    padding: 5px;
    border: 1px solid #D8D8D8;
}
h3 {
    text-align: center;
    margin: 40px 0 10px 0;
}
a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}
a:visited {
    background-color: rgb(29,28,65);
}
a:hover {
    background-color: gold;
    color: #7299A2;
}
a:active {
    background-color: coral;
    color: #3BC1BF;
}
h4 {
    margin: 20px;
    display: inline-block;
}
.article_right {
    float: right;
    width: 50%;
    padding: 20px;
    margin-bottom: 20px;
}
.article_left {
    width: 50%;
    float: left;
    padding: 20px;
    margin-bottom: 20px;
}
.strong {
    font-weight: bold;
}
.em{
    font-style: italic;    
}