/* CSS Document */
body {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 100px;
}
#wrapper > header {
    width: 960px; 
    text-align: center;
}
aside{
    width: 160px;
    background-color: antiquewhite;
    float: left;
}
aside header {
    text-align: center;
    display: flex;
    justify-content: center;  
}

aside header h2 {
    width: 100px;
    padding: 2px;
    border: solid 1px black;
}

aside article {
    justify-content: center;
    width: 100px;
    padding: 2px;
    margin-left: 27px;
    text-align: center;
    border: solid 1px black;
}

main{
    width: 800px;
    background-color: burlywood;
    float: right;
}

main header {
    text-align: center;
    display: flex;
    justify-content: space-around;
}
main header h2{
    width: 100px;
    padding: 2px;
    border: solid 1px black;
}

main article{
    display: inline-block;
    width: 100px;
    padding: 2px;
    margin-left: 4px;
    text-align: center;
    border: solid 1px black;
}

footer{
    clear: both;
    background-color: brown;
    height: 50px;
    text-align: center;
}

























